[run]
branch = True
include =
    reedsolo.py
omit =
    home/*
[report]
include =
    reedsolo.py
omit =
    */python?.?/*
    */site-packages/nose/*
    */opt/python/pypy*
    */tests/*
show_missing = True
