include LICENSE
include README.rst
include *.pyx  # include the cython implementation sourcecode in the wheel, so that the user can compile later
include creedsolo.c  # include the cythonized intermediary .c file for source distributions such as Gentoo, so that they do not need to install Cython v3
recursive-include tests *.py
